<header>
    <!-- Header -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse">
                <ul class="breadcrumb">
                    <li class="breadcrumb-home">
                        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <i class="fa fa-home"></i>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>
    <!-- End of Header -->
</header>

<navbar></navbar>

<main class="content">
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</main>

<footer>
    RPG Tools &copy; Peter Haldenby 2017
</footer>