<div class="navigation">
    <a class="navbar-brand">RPG Tools</a>
    <i class="fa fa-bars text-primary left-nav-toggle pull-right vcentered"></i>
    <ul class="nav primary">
        <li>
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a routerLink="daylength" routerLinkActive="active">
                <i class="fa fa-sun-o"></i>
                <span>Day Length Calculator</span>
            </a>
        </li>
    </ul>
</div>